# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/
dist/
build/

# Data & models — too large for git
/data/
outputs/
logs/
wandb/

# Secrets
.env
git_workflow.md

# Jupyter
.ipynb_checkpoints/
.gitignore st

